<form action="" method="post">
    <input type="text" placeholder="username" name="username" />
    <input type="text" placeholder="email" name="email" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit" >Register</button>

</form>